body {
    margin: 0;
    background-color: #333;
}

.container {
    width: 80%;
    margin: 20vh auto;
}

figure {
    /* Свойство overflow управляет отображением содержания блочного элемента, 
    если оно целиком не помещается и выходит за область заданных размеров. */

    overflow: hidden; /* hidden - Отображается только область внутри элемента, остальное будет скрыто. */

    display: inline-block;
    width: 350px;
    height: 300px;
    border: 5px solid white;
}

figure img {
    /* Свойство object-fit определяет, как содержимое заменяемого элемента, 
    такого как <img> или <video>, должно заполнять контейнер относительно его высоты и ширины. */

    object-fit: cover;      /* cover - Элемент увеличивается или уменьшается, чтобы целиком заполнить 
                            заданную область с сохранением пропорций. */
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

figure:hover img {
    /* scale - Масштабирует элементы, делая их больше или меньше */
    /* rotate - Поворачивает элементы на заданное количество градусов */
    transform: scale(1.25) rotate(-5deg);
    cursor: pointer;
}

