/* STEP 1 */
/* Убираем отсупы у <body> и задаем задний фон всему нашему проекту */
body {
    margin: 0;
    background-color: #333;
}

/* STEP 2 */
/* Создаем контейнер в котором будут находится наши карточки. Задаем ему область меньше ширины экрана
и выравниваем его по центру и устанавливаем отступ сверху и снизу в 20% высоты экрана */
.container {
    width: 80%;
    margin: 20vh auto;
}

/* STEP 3 */
/* Создаем сами карточки. Меняем поведение блока на строчно блочное. Устанавливаем высоту и ширину. 
Стилизуем рамки и применяем свойство  overflow: hidden --> Отображается только область внутри элемента, 
остальное будет скрыто.*/
figure {
    display: inline-block;

    width: 350px;
    height: 300px;

    border: 5px solid white;
    overflow: hidden;
}

/* STEP 4 */
/* Далее картинкам задаем высоту и ширину как у родительского блока. Затем применяем  object-fit: cover.
Свойство cover - Элемент увеличивается или уменьшается, чтобы целиком заполнить заданную область 
с сохранением пропорций. Работает с картинками которые добавлены через тег <img> или <video>.
Устанавливаем свойство <transition> для плавного изменения нашей анимации. 
*/
figure img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: transform 0.5s ease;
}

/* STEP 5 */
/* Используем псевдокласс :hover который поможет нам изменять наши карточки при наведении на них мышкой.
Применяем свойство <transform> и указываем увеличение для картинок на 25% и поворот на 5 градусов. 
scale - Масштабирует элементы, делая их больше или меньше.
rotate - Поворачивает элементы на заданное количество градусов.
Напоследок прменяем свойство cursor: pointer, чтобы при наведении менялся курсор мыши. */
figure:hover img {
    transform: scale(1.25) rotate(-5deg);
    cursor: pointer;
}
